<section id="progress" class="progress-section">
	<label class="mdtf-typography__display-2">10-4 Material Progress</label>
	<dl>
		<dt class="mdtf-typography__display-title">Progress</dt>
		<dd>
			<span class="mdtf-typography__display-body-1--desktop">Minimize visual changes that occur while your app loads content by representing each operation with a single activity indicator. For example, a refresh operation should display either a refresh bar or an activity circle, but not both.</span>
			<div class="mdl-grid">
				<span class="mdl-cell mdl-cell--12-col mdtf-typography__display-subheading">Coming Soon...</span>
			</div>
		</dd>
	</dl>
</section>