<section id="subheaders" class="subheaders-section">
	<label class="mdtf-typography__display-2">10-4 Material Subheaders</label>
	<dl>
		<dt class="mdtf-typography__display-title">Subheaders</dt>
		<dd>
			<span class="mdtf-typography__display-body-1--desktop">Subheaders are special list tiles that delineate distinct sections of a list or grid list and are typically related to the current filtering or sorting criteria. Subheader tiles are either displayed inline with tiles or can be associated with content, for example, in an adjacent column.</span>
			<div class="mdl-grid">
				<div class="mdl-cell mdl-cell--4-col">
					<div class="mdtf-typography__display-subheading">List Subheading</div>
				</div>
				<div class="mdl-cell mdl-cell--4-col">
					<div class="mdtf-typography__display-subheading">Grid Subheading</div>
				</div>
				<div class="mdl-cell mdl-cell--4-col">
					<div class="mdtf-typography__display-subheading">Menu Subheading</div>
				</div>
			</div>
		</dd>
	</dl>
</section>
